logging:
  config: file://{{ eidas_dir }}/logback.xml
  level:
    eidas: DEBUG
    org.springframework.security: DEBUG

server:
  # The port to where this Spring Boot application listens to.
  port: {{ eidas_port }}
  session:
    cookie:
      secure: true

# Identity Provider. The metadata_url can (and should) be a https resource
idp:
  metadata_url: {{ eidas_proxy.idp_metadata_feed }}
  verify_host_name: true

# SAML MetaData feed with all allowed SPs. Can (and should) be a https resource
serviceproviders:
  feed: {{ eidas_proxy.sp_metadata_feed }}
  allow_unknown: false

# eidas
proxy:
  # base url
  base_url: https://{{ eidas_vhost_name }}
  # Entity ID of the SP
  entity_id: {{ eidas_proxy.entity_id }}
  # Private key used to sign the SAML response
  private_key: {{ eidas_proxy.private_key | vault(vault_keydir) | depem }}
  # Public certificate to verify the signature of the SAML response
  certificate: {{ eidas_proxy.certificate | depem }}
  # Passphrase of the keystore
  passphrase: secret
  # ACS location
  acs_location: https://{{ eidas_vhost_name }}/saml/SSO
  # duration of metadata cache (1 day)
  validity_duration_metadata_ms: 86400000
  # value of the keyName in the KeyDescriptor
  key_name: {{ eidas_proxy.key_name }}
  # the resource location of the metadata for the SP
  metadata_resource_sp: file://{{ eidas_dir }}/eidas.proxy.sp.metadata.xml

sp:
  destination: {{ eidas_sp.destination }}
  acs_url: {{ eidas_sp.acs_url }}
  provider_name: {{ eidas_sp.provider_name }}
  issuer: {{ eidas_sp.issuer }}
  qaa_level: {{ eidas_sp.qaa_level }}
  sector: {{ eidas_sp.sector }}
  institution: {{ eidas_sp.institution }}
  application: {{ eidas_sp.application }}
  country: {{ eidas_sp.country }}
  requested_attributes:
    names: {{ eidas_sp.requested_attributes.names }}
    mandatory_values: {{ eidas_sp.requested_attributes.mandatory_values }}
    optional_values: {{ eidas_sp.requested_attributes.optional_values }}
